@charset "utf-8";

/* 
 cores 

 rosa fundo: rgb(243,229,216)
  fontes titulo : rgb(118, 45, 74)


*/

@font-face {
  font-family: "Outfit", sans-serif;

  src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "YSerif", serif;
  src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf)
    format('truetype');
}

:root {
  --cor-fundo: rgb(243, 229, 216);
  --cor-fonte: rgb(118, 45, 74);
  --cor-fonte2: rgb(107, 66, 46);
  --cor-texto: rgb(68, 67, 67);

  --fonte1: "Outfit", sans-serif;
  --fonte2: "YSerif", serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fonte1);
}

h1,
h2 {
  font-family: var(--fonte2);
}

h2 {
  color: var(--cor-fonte2);
  font-size: 2em;
}

hr {
  width: 80vw;
  display: block;
  margin: auto;
}

#text-header {
  padding: 30px;
  margin: 10px 0;
}

#text-header h1 {
  font-size: 2.6em;
  margin-bottom: 20px;
  color: rgb(39, 39, 39);
}

#text-header p {
  font-size: 1em;
  color: rgb(95, 95, 95);
  line-height: 2em;
}

.prep {
  padding: 20px;
  width: 76vw;
  margin: 10px auto;
  list-style-position: inside;
  background-color: var(--cor-fundo);
  border-radius: 10px;
}

.prep > h3 {
  color: var(--cor-fonte);
  padding: 10px;
  font-weight: bolder;
}

.prep li {
  padding: 10px;
  color: var(--cor-texto);
}

#content{
    padding: 10px;
}

#ing {
  
  list-style-position: inside;
  line-height: 1.5em;
  
}

#ing h2{
   margin-bottom: 20px;
}
#ing li {
  padding: 10px;
  color: var(--cor-texto);
}

#inst {
  
}

#inst h2{
    margin-bottom: 20px;
}

#inst ol{
    padding: 25px;
}

#inst li {
    padding: 10px;
  line-height: 1.5em;
  color: var(--cor-texto);
  list-style-position: outside;
 ;
}

#nutri {
  padding: 30px;
}

#nutri p {
  line-height: 1.5em;
  margin: 10px 0;
}

#nutri h2{
    margin-bottom: 20px;
}

#tab-nutri {
  border-collapse: collapse;
  text-indent: 20px;
  text-align: left;
  width: 90%;
}

#tab-nutri th,
#tab-nutri td {
  padding: 10px;
  width: 50%;
  
}

.under{
 border-bottom: 1px solid rgb(192, 192, 192);    
}



#tab-nutri th {
  font-family: var(--fonte1);
  font: lighter;
  color: var(--cor-texto);
}

#tab-nutri td {
  font-family: var(--cor-fonte1);
  font-weight: bolder;
  color: var(--cor-fonte2);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 10px;
  font-size: 0.7em;
  font-family: var(--fonte1);
}
.attribution a {
  text-decoration: none;
  color: var(--cor-fonte1);
  font-weight: bolder;
}

@media screen and (min-width: 600px) {
  body {
    background-color: var(--cor-fundo);
  }
  main {
    background-color: #fff;
    max-width: 700px;
    margin:100px auto;
    padding: 30px;
    border-radius: 15px;
  }

  #header img { 
    border-radius: 10px;
    display: block;
    margin: auto;
  }

  .prep {
    width: 80%;
  }

  hr {
    margin: 30px 0;
    width: 80%;
  }

 
}
